<div class="relative h-[18em] md:h-[25em] lg:h-[31em]">
  <img src="../../../assets/images/home-background.jpg" alt="home_info_background" class="absolute inset-0 w-full h-full object-cover">
  <div class="absolute inset-0 flex flex-col justify-center items-center text-white text-center bg-black bg-opacity-80">
    <h1 class="text-2xl md:text-5xl lg:text-6xl font-bold">ORIEL DELGADO</h1>
    <p class="mt-3 text-lg md:text-4xl lg:text-5xl font-light animate__animated animate__fadeInUp animate__slow">Estudiante de Ingeniería de Software</p>
  </div>
</div>
